# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
*.log

# Env
.env
.venv/
venv/
env/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Migrations
**/migrations/
!*/migrations/__init__.py
